/* @media screen and (max-width: 768px) {
    .container{
        padding: 0 10px;

    }
    .blok__tel{
        color: red;
    }
} */

@media screen and (min-width: 1600px) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .owl-prev {
        position: absolute;
        left: 15rem;
    }

    .owl-next {
        position: absolute;
        left: 34rem;
    }
}

@media screen and (max-width: 500px) {
    .owl-prev {
        position: absolute;
        left: 15rem;
    }

    .owl-next {
        position: absolute;
        left: 34rem;
    }
}